<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>`uuidgen | tr [A-Z] [a-z]`</string>
	<key>name</key>
	<string>UUID - Lowercase</string>
	<key>tabTrigger</key>
	<string>uuidgen</string>
	<key>uuid</key>
	<string>EC6EF13E-1226-494F-A10A-8610E1F560E0</string>
</dict>
</plist>
