<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Source Bundle Development</string>
	<key>uuid</key>
	<string>8B80A1DA-62C9-4864-A94D-5D1DDA7DBC77</string>
</dict>
</plist>
